# Configuração do MongoDB (Valores padrão do docker-compose)
MONGO_URI=mongodb://root:password@localhost:27017/gdash?authSource=admin
PORT=3000

# OBS: Para rodar via docker-compose, o host deve ser 'mongodb'
# Ex: mongodb://root:password@mongodb:27017/gdash?authSource=admin